---
import { SignIn } from "@/components/SignIn";
import Layout from "../Layout.astro";
---

<Layout title="Iniciar Sesión - MicroPOS" description="Inicia sesión en MicroPOS para gestionar tu negocio.">
	<div class="min-h-screen flex items-center justify-center bg-background px-4">
		<SignIn client:load />
	</div>
</Layout>
