---
import { SignUp } from "@/components/SignUp";
import Layout from "../Layout.astro";
---

<Layout title="Crear Cuenta - MicroPOS" description="Crea tu cuenta en MicroPOS y empieza a gestionar tu negocio gratis.">
	<div class="min-h-screen flex items-center justify-center bg-background px-4">
		<SignUp client:load />
	</div>
</Layout>
